/* SignUp Styles */

.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
  min-height:100vh;
  background-color: rgba(170,102,51,0.5);
}
.menuDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuDiv p {
  font-family: sans-serif;
  align-self: center;
}
.menuDiv input {
  border-radius: 100px;
  margin: 5px;
  width: 45%;
  align-self: center;
  text-align: center;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
}
.titleDiv {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px #000;
}
.villaImg {
  border-radius: 50px;
  width: 100%;
}
