/* Menu Styles */
.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
  min-height:100vh;
  background-color: rgba(170,102,51,0.5);
}
.titleDiv {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px #000;
}
.menuDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  text-shadow: 1px 1px #000;
  padding: 5px;
}
.menuDiv a {
  text-decoration: none;
  color: #fff;
}
.villaImg {
  border-radius: 50px;
  width: 100%;
}
