/* Database Styles */

.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  min-height:100vh;
  background-color: rgba(170,102,51,0.5);
}
.menuUL {
  position: fixed;
  align-self: left;
  padding: 5px;
  margin: 10px;
  list-style: none;
  color: #fff;
  text-shadow: 1px 1px #000;
}
.menuUL li {
  padding: 5px;
}
.menuUL a {
  color: inherit;
  text-shadow: inherit;
  text-decoration: none;
}
.menuUL a:hover {
  color: inherit;
  text-shadow: inherit;
  font-style: italic;
}
h1 {
  margin: 20px;
  color: #fff;
  text-shadow: 1px 1px #000;
}
.formDiv {
  display:flex;
  flex-direction:column;
  width: 60%;
}
.formDiv h2 {
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
  color: #fff;
  text-shadow: 1px 1px #000;
}
.results h2 {
  font-family: sans-serif;
  font-size: 16px;
  font-style: italic;
}
.formDiv input {
  margin: 5px;
  font-size: 1em;
  padding: 5px;
  border-radius: 10px;
}
.formDiv select {
  margin: 10px;
  font-size: 1em;
  height: 30px;
  color: #666;
}
.formDiv textarea {
  margin: 10px;
  font-size: 1em;
  height: 50px;
  width: 95%;
  border: 0;
  padding: 5px;
  border-radius: 10px;
}
.name {
  width: 95%;
}
.price {
  width: 75px;
}
.quantity {
  width: 70px;
}
.dropDowns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropDowns div {
  width: 40%;
  text-align: left;
}
.menus {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-self: center;
  justify-content: space-between;
}
.selectMenu {
  align-self:center;
}
.menus select {
  width: 60%;
}
.required {
  color: #f00;
}
.type {
  width: 90%;
}
.ingredient {
  width: 90%;
}
.pairings {
  width: 95%;
}
.priceDiv {
  display: block-flex;
}
.buttonsDiv {
  margin-top: 10px;
  align-self: center;
  text-align: center;
  width: 100%;
}
.buttonsDiv input {
  color: #666;
  background-color: #fff;
  box-shadow: 2px 2px rgba(0,0,0,0.3);
  border: 1px solid #fff;
}
.buttonsDiv input:hover {
  margin-top: 1px;
  border: 1px solid #999;
  color: #fff;
  background-color: rgba(160,70,0,0.5);
  box-shadow: -2px -2px rgba(0,0,0,0.3);
}
.buttonsDiv input:focus {
  outline-style: none;
  box-shadow: 2px 2px 2px 2px #630;
}
.results {
  font-family: sans-serif;
  width: 85%;
  margin: 10px;
  text-align: center;
  border-top: 2px solid #fff;
}
.results h1 {
  margin: 5px;
  color: #fff;
  text-shadow: 1px 1px #000;
}
.specialItemDiv {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  padding: 5px;
  text-align: left;
  color: #630;
  border-top: 2px solid #fff;
}
.editButtons {
  width: 15%;
  text-align: left;
}
.editButtons a {
  color: inherit;
}
.specialItem {
  width: 85%;
}
.specialItem p div {
  font-family: sans-serif;
  font-size: 16px;
}
