/* DinnerPrint Styles */

.container {
  display:flex;
  flex-direction:column;
  align-items: center;
  font-family: serif;
  font-style: italic;
}
.outLine {
  margin: 30px;
  width: 8in;
  height: 10.2in;
  border: 1px solid #009;
  text-align: center;
}
.specials {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.specialItem {
  margin: 10px;
}
.date {
  text-align: left;
  vertical-align: baseline;
  margin-bottom: 50px;
  margin-left: 5px;
}
p {
  font-family: serif;
  font-size: 18px;
}
h1 {
  font-size: 28px;
}
  h2 {
  font-size: 22px;
}
  h3 {
  font-size: 20px;
}
  h4 {
  font-size: 18px;
  font-weight: normal;
}
